        /* Para que el login-box permanezca en su lugar */
        .login-box {
            position: fixed; /* Fijo en la ventana */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 999;
        }
        .btn-primary {
            background-color: #777DA7; /* Color de fondo personalizado */
            border-color: #777DA7; /* Color del borde personalizado */
        }

        .btn-primary:hover {
            background-color: #5f6690; /* Color al pasar el cursor */
            border-color: #5f6690; /* Color del borde al pasar el cursor */
        }