/*Estilos del Header*/
#adm_logout{
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
}
#adm_logout:hover {
    background-color: red;
}

#adm_regresar {
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#adm_regresar:hover {
    background-color: #366a86;
}
header{
    background-color: #1A1423;
    color: white;
}
.header-buttons {
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}

/*Estilos del BODY*/
.container {
    margin-top: 120px;
}
#body{ /*pa que no sea brusco el cambio*/
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*Estilos de la Card*/
.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra suave */
}
.card-header{
    background-color: #777DA7;
    color: white;
}

#btn_crear_evento {
    background-color: #777DA7;
    color: white;
    border: none;
   cursor: pointer;
}
#btn_crear_evento:hover {
    background-color: #5f6690;
}




/*MODO OSCURO*/
.dark-mode {
    background-color: #212121;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode #toggle-dark-mode {
    color: #FFD700;
}
.dark-mode #toggle-dark-mode:hover {
    color: white;
}

#toggle-dark-mode {
    font-size: 24px; 
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; 
}

#toggle-dark-mode:hover {
    transition: color 0.5s ease;
    color: #FFD700; 
}





/* Eliminar estilos de autocompletado en Chrome/Edge */
input:-webkit-autofill {
    background-color: transparent !important; /* Fondo transparente */
    color: inherit !important; /* Hereda el color del texto */
    font-size: inherit; /* Hereda el tamaño de fuente */
    -webkit-text-fill-color: #000000 !important; /* Color del texto autocompletado (en modo oscuro o claro) */
    box-shadow: 0 0 0px 1000px #ffffff inset; /* Fondo blanco para modo claro */
    transition: background-color 5000s ease-in-out 0s; /* Previene cambios de fondo */
}

/* Ajustar en modo oscuro */
.dark-mode input:-webkit-autofill {
    background-color: transparent !important; /* Fondo transparente */
    -webkit-text-fill-color: #ffffff !important; /* Texto blanco */
    box-shadow: 0 0 0px 1000px #333333 inset; /* Fondo oscuro */
}

/* Firefox */
input:autofill {
    background-color: transparent !important;
    color: inherit !important;
}
