/*Estrilos del header*/
#adm_logout{
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
}
#adm_logout:hover {
    background-color: red;
}
#adm_regresar {
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#adm_regresar:hover {
    background-color: #366a86;
}
.header-buttons {
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}
/*Body*/
body{
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}
.card {
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}


/*Modo oscuro*/
.dark-mode {
    background-color: #212121;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}
/* Ajustar colores específicos si es necesario */
.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode .adm_CabezaTabla {
    background-color: #777DA7;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode button {
    background-color: #555555;
    color: #ffffff;
}

.dark-mode button:hover {
    background-color: #666666;
}
.dark-mode #toggle-dark-mode {
    color: #FFD700;
}
.dark-mode #toggle-dark-mode:hover {
    color: white;
}

#toggle-dark-mode {
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer;
    color: white;
    display: flex; /* Asegura que el ícono se comporte como un elemento en línea */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Centrado en el espacio del ícono */
    height: 45px; 
    width: 45px; 
}

#toggle-dark-mode:hover {
    transition: color 0.5s ease;
    color: #FFD700; 
}