/*Botones de Header*/
#adm_logout{
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 100%;
}
#adm_logout:hover {
    background-color: red;
}

#adm_regresar {
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#adm_regresar:hover {
    background-color: #366a86;
}
header{
    background-color: #1A1423;
    color: white;
}
.header-buttons {
    display: flex;
    gap: 10px;
    transition: 0.5s ease;
}

/*Body*/
body{
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

/*Cards*/
.card {
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}
.nombre_del_from_bg {
    background-color: #777DA7;
}
.nombre_del_from {
    color: #FFFFFF;
}
.btn_anadir_pregunta {
    color: #FFFFFF;
    background-color: #777DA7;
}
.btn_anadir_pregunta:hover {
    color: #FFFFFF;
    background-color: #5f6690;
}


/*Preguntas*/
.Btn_Eliminar_Pregunta {
    margin: 5px;
}
.Item_Form_Group{
    margin: 5px;
}
.Editar_Boton_Borrar_Pregunta{
    margin-right: 20px;
}
.Btn_Cambiar_a_Texto, .Btn_Cambiar_a_Checkbox, .Btn_Cambiar_a_OpMul {
    margin: 5px;
    background-color: #5f6690;
    color: white;
}
.Btn_Cambiar_a_Texto:hover, .Btn_Cambiar_a_Checkbox:hover, .Btn_Cambiar_a_OpMul:hover{
    background-color: #4a5070;
    color: white;
}


/*Botones de Guardar y Agregar Pregunta*/
.Btn_Guardar_Encuesta, .Btn_Agregar_Pregunta{
    margin: 4px;
    color: black;
    background-color: #F0F7F4;
}
.Btn_Guardar_Encuesta:hover, .Btn_Agregar_Pregunta:hover{
    margin: 4px;
    color: black;
    background-color: #d5dbd8;
}




/*Modo oscuro*/
.dark-mode {
    background-color: #212121;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}
/* Ajustar colores específicos si es necesario */
.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode .adm_CabezaTabla {
    background-color: #777DA7;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode button {
    background-color: #555555;
    color: #ffffff;
}

.dark-mode button:hover {
    background-color: #666666;
}
.dark-mode #toggle-dark-mode {
    color: #FFD700;
}
.dark-mode #toggle-dark-mode:hover {
    color: white;
}

#toggle-dark-mode {
    font-size: 24px; /* Tamaño del ícono */
    cursor: pointer;
    color: white;
    display: flex; /* Asegura que el ícono se comporte como un elemento en línea */
    align-items: center; /* Alineación vertical */
    justify-content: center; /* Centrado en el espacio del ícono */
    height: 45px; 
    width: 45px; 
}

#toggle-dark-mode:hover {
    transition: color 0.5s ease;
    color: #FFD700; 
}