/*Estilos del Header*/
#adm_logout{
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#adm_logout:hover {
    background-color: red;
}
#adm_regresar {
    background-color: #1A1423;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#adm_regresar:hover {
    background-color: #366a86;
}
header{
    background-color: #1A1423;
    color: white;
}

/*Estilos del BODY*/
.container {
    margin-top: 120px;
}
#body{ /*pa que no sea brusco el cambio*/
    transition: background-color 0.5s ease, color 0.5s ease;
}

/*Estilos de la Card*/
.card {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Añade una sombra suave */

}
.card-header{
    background-color: #777DA7;
    color: white;
}

#btn_crear_evento {
    background-color: #777DA7;
    color: white;
    border: none;
   cursor: pointer;
}
#btn_crear_evento:hover {
    background-color: #5f6690;
}




/*MODO OSCURO*/
.dark-mode {
    background-color: #212121;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode #toggle-dark-mode {
    color: #FFD700;
}
.dark-mode #toggle-dark-mode:hover {
    color: white;
}

#toggle-dark-mode {
    font-size: 24px; 
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; 
}

#toggle-dark-mode:hover {
    transition: color 0.5s ease;
    color: #FFD700; 
}