.btn-login {
    background-color: #777DA7; /* Color de fondo personalizado */
    border-color: #777DA7; /* Color del borde personalizado */
    color: #FFFFFF;
}
.btn-registrar {
    background-color: #777DA7; /* Color de fondo personalizado */
    border-color: #777DA7; /* Color del borde personalizado */
    color: #FFFFFF;
}

.btn-login:hover {
    background-color: #5f6690; /* Color al pasar el cursor */
    border-color: #5f6690; /* Color del borde al pasar el cursor */
}
.encabezado-menu-registro{
    background-color: #5f6690;
    color: white;
}
.encabezado-menu-registro .close {
    color: white;
} 
#texto_registrase{
    margin-top: 10px;
}
#texto_registrase:hover{
    cursor: pointer;
}



/*MODO OSCURO*/
.dark-mode {
    background-color: #212121;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode .card {
    background-color: #333333;
    color: #ffffff;
    transition: background-color 0.5s ease, color 0.5s ease; /* Transición suave */
}

.dark-mode #toggle-dark-mode {
    color: #FFD700;
}
.dark-mode #toggle-dark-mode:hover {
    color: white;
}

#toggle-dark-mode {
    font-size: 24px; 
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; 
}

#toggle-dark-mode:hover {
    transition: color 0.5s ease;
    color: #FFD700; 
}