    /* ESTILOS PARA EL LOGIN*/
    /* Para que el login-box permanezca en su lugar */
    .btn-login {
        background-color: #777DA7; /* Color de fondo personalizado */
        border-color: #777DA7; /* Color del borde personalizado */
        color: #FFFFFF;
    }
    .btn-registrar {
        background-color: #777DA7; /* Color de fondo personalizado */
        border-color: #777DA7; /* Color del borde personalizado */
        color: #FFFFFF;
    }

    .btn-login:hover {
        background-color: #5f6690; /* Color al pasar el cursor */
        border-color: #5f6690; /* Color del borde al pasar el cursor */
    }
    .encabezado-menu-registro{
        background-color: #5f6690;
        color: white;
    }
    .encabezado-menu-registro .close {
        color: white;
    } 
    #texto_registrase{
        margin-top: 10px;
    }
    #texto_registrase:hover{
        cursor: pointer;
    }



    /* ESTILOS PARA LA PAGINA DE CREACION DE FORMULARIOS*/

.nombre_del_from_bg {
    background-color: #777DA7;
}
.nombre_del_from {
    color: #FFFFFF;
}

.btn_anadir_pregunta {
    color: #FFFFFF;
    background-color: #777DA7;
}
.btn_anadir_pregunta:hover {
    color: #FFFFFF;
    background-color: #5f6690;
}
.btn_guardar_form {
    color: #FFFFFF;
    background-color: #4281A4;
}
.btn_guardar_form:hover {
    color: #FFFFFF;
    background-color: #366a86;
}
.btn-secondary{
    margin: 10px;
}
.btn_borrar{
    background-color: red;
    color: #FFFFFF;
}
.btn_borrar:hover{
    background-color: rgb(212, 0, 0);
    color: #FFFFFF;
}
#adm_regresar {
    background-color: #1A1423;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#adm_regresar:hover {
    background-color: #366a86;
}



/* ESTILOS PARA LA PAGINA DE ADMIN*/

.adm_CabezaTabla{
    background-color:  #372549;
    color: white;
    margin-top: 0.5%;
    border-radius: 5px;
}

#header_pagina {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1030;
    background-color: #372549;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#adm_body {
    padding-top: 70px; /* Ajusta el desplazamiento del contenido */
}
#adm_logout {
    background-color: #1A1423;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#adm_logout:hover {
    background-color: #c82333;
}
#crear_nueva_encuesta{
    background-color: #F0F7F4;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#crear_nueva_encuesta:hover {
    background-color: #d4dbd8;
}

.header-buttons {
    display: flex;
    gap: 10px;
}

.btn_ver {
    background-color: #777DA7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn_ver:hover {
    background-color: #1A1423;
}
.btn_editar {
    background-color: #777DA7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn_editar:hover {
    background-color: #1A1423;
}
.btn_eliminar_encuesta {
    background-color: #777DA7;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn_eliminar_encuesta:hover {
    background-color: #5c6181;
}






/* ESTILOS PARA EDITAR ENCUESTAAA*/

.Btn_Eliminar_Pregunta {
    margin: 5px;
}
.Item_Form_Group{
    margin: 5px;
}
.Editar_Boton_Borrar_Pregunta{
    margin-right: 20px;
}
.Btn_Cambiar_a_Texto, .Btn_Cambiar_a_Checkbox, .Btn_Cambiar_a_OpMul {
    margin: 5px;
    background-color: #5f6690;
    color: white;
}
.Btn_Cambiar_a_Texto:hover, .Btn_Cambiar_a_Checkbox:hover, .Btn_Cambiar_a_OpMul:hover{
    background-color: #4a5070;
    color: white;
}
.Btn_Guardar_Encuesta, .Btn_Agregar_Pregunta{
    margin: 4px;
    color: black;
    background-color: #F0F7F4;
}
.Btn_Guardar_Encuesta:hover, .Btn_Agregar_Pregunta:hover{
    margin: 4px;
    color: black;
    background-color: #d5dbd8;
}